.el-tooltip__trigger:focus-visible {
  outline: none !important;
}

.el-tooltip__trigger {
  outline: none !important;
}

/* MARK: 滚动条样式设置 */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
::-webkit-scrollbar-corner {
  display: block;
}
/* 滚动条的小方块部分 */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3) !important;
}
/* 修改滚动条的轨道 */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border-right-color: transparent;
  border-left-color: transparent;
  background-color: rgba(0, 0, 0, 0.1);
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 20px !important;
}

.el-input--large {
  font-size: 1.2rem !important;
}

.el-select__selected-item {
  font-size: 1.2rem !important;
}

.el-select__tags-text {
  font-size: 1.2rem !important;
}

.el-radio__label {
  font-size: 1.2rem !important;
}

.el-checkbox__label {
  font-size: 1.2rem !important;
}

.el-checkbox-button__inner {
  font-size: 1.2rem !important;
}

/* ElMessage 弹窗字体大小调整 */
.el-message {
  font-size: 1.2rem !important;
}

.el-message__content {
  font-size: 1.2rem !important;
}

/* 专门针对 warning 类型的消息 */
.el-message--warning {
  font-size: 1.2rem !important;
}

.el-message--warning .el-message__content {
  font-size: 1.2rem !important;
}
